/* body {
  font-family: "Montserrat", serif;
  font-size: 14px;
  margin: 0;
} */

a {
outline: none;
text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #CECECE; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CECECE; 
}

a:visited { text-decoration: none; color:#000; }
a:hover { text-decoration: none; color:#000; }
a:focus { text-decoration: none; color:#000; }
a:hover, a:active { text-decoration: none; color:#000 }